@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <small>Click the button below to Manage Employees, such as creating/editing/viewing and deleting; including Dependents.</small>
    <p><a href="@Url.Content("~/Employees")" class="btn btn-primary">Manage Employees &raquo;</a></p>
    <br/>
    <small>Click the button below to Manage Dependents, such as creating/editing/viewing and deleting.</small>
    <p><a href="@Url.Content("~/Dependents")" class="btn btn-danger"> Manage Dependents &raquo;</a></p>
</div>

